header{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}.sliderTrack{
    display: flex;
    transition: transform 0.4s ease;
    width: 100%;
    height: 100%;
}.sliderItem{
    max-width: 100%;
    max-height: 100%;
    min-width: 100%;
    min-height: 100%;
    flex-shrink: 0;
}.slideImage{
    min-width: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    display: block;
}