nav{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}.logo{
    width: 60px;
    height: 60px;
    background: url(/public/Images/TosvaRemovebg.png) no-repeat center center;
    background-size: 100%;
}h1{
    font-family: monospace;
    font-size: xxx-large;
    color: rgb(165, 210, 133);
}.support{
    width: 60px;
    height: 40px;
    background: url(/public/Icons/support.png) no-repeat center center;
    background-size: contain;
    filter: brightness(0) saturate(100%) invert(47%) sepia(47%) saturate(393%) hue-rotate(78deg) brightness(94%) contrast(90%);
}